body{

}

.menu>input{

  float:left;
  margin-bottom: 20px;
  margin-right: 10px;
}

.menu>.button{
        float:left;
}


.menu>div.button:last-child{

  float: right;
  margin-right:0px;
}


table {
    width: 100%; /* Ширина таблицы */
    background: black; /* Цвет фона таблицы */
    color: black; /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */
    border-color: green;
    margin-top: 20px;
   }
td, th {
    padding: 5px; /* Поля вокруг текста */
    background: white;
    vertical-align: middle;
    text-align:center;
       }

  td>div{
display: inline-block;
margin-left: 40px;

  }

  td>a{

       float: left;
  }

  td>a:hover{

    color:  #dd7322;
  }

.sort{
  /*background: url(../img/arrowUP.png) no-repeat;*/
  background: no-repeat;
  display: block;
  width: 18px;
  height: 15px;
  float:right;
  margin-top:5px;
}



.count{

       border-radius: 30%;
       background: blue;
       padding: 1px;
       color: white;
       float: right;
}

.column{

float: left;
margin-right: 20px;
margin-top:10px;
}

.button a
{
    padding: 2px 6px;
    background-color:purple;
    text-decoration: none;
    border-bottom: 3px solid #aaa;
    font-size: 20px;
    color:white;
}
.button>a:hover{

  background-color: #dd7322;
  border-bottom: 1px solid #aaa;
}

.column>a{

    float: right;
    margin-top: 10px;
}

.column:last-child{

  float: right;
  margin-right: 0;

}
.error-message{

  color:red;

}
